.considerations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.considerations__title {
  text-align: center;
  font-family: var(--title-dancing);
  font-size: 40px;
  color: var(--title-color);
  padding-bottom: 15px;
}

.considerations p {
  text-align: center;
  font-family: var(--text-roboto);
  font-size: 16px;
  color: var(--text-color1);
  padding: 50px;
}

.considerations__line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px;
}

.considerations__line img {
  width: 100px;
  opacity: 0.7;
}

/* #considerations__subtitle {
  padding-top: 70px;
} */

.considerations p {
  padding: 15px;
}
