.gifts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
    overflow: hidden;
}

.gifts__ideas {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    gap: 30px;
}



.gifts__title {
    text-align: center;
    font-family: var(--title-dancing);
    font-size: 25px;
    color: var(--title-color);
}

.gifts p {
    text-align: center;
    font-family: var(--text-roboto);
    font-size: 20px;
    color: var(--text-color1);
    padding: 50px;
}

.gifts__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.gifts__icon img {
    width: 120px;
}

.wishlist__button button {
    width: 100px;

  background: var(--light-pink);
  opacity: 0.4;

  border-radius: 10px;
  border: none;
  outline: none;
}

.wishlist__button a {
    text-decoration: none;
}

